<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="header-nav">
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Trang chủ
                            </a>
                        </li>

                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Giới thiệu

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>


                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Khoá học

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="header-mobi btn-mobi">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

                <a href="" class="header-logo">
                    <span class="header-logo-wrap">
                        <img src="./assets/images/logo.png" alt="">
                    </span>

                </a>

                <div class="header-nav">
                    <ul class="menu-list">


                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Tin tức

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>


                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Đội ngũ

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Liên hệ
                            </a>
                        </li>

                        .
                    </ul>

                    <div class="header-search">
                        <div class="header-search-ic btn-search">
                            <i class="far fa-search"></i>
                        </div>

                        <div class="header-search-ic btn-search-exit">
                            <i class="far fa-times"></i>
                        </div>

                        <div class="header-search-ip">
                            <input type="text" placeholder="Tìm kiếm">
                            <div class="header-search-btn">
                                <i class="far fa-search"></i>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>

    </header>
    <div class="menu-modal"></div>
    <div class="menu-mb">
        <div class="menu-mb-wrap">
            <ul class="menu-list">
                <li class="menu-item current-menu-item">
                    <a href="" class="menu-link">
                        Trang chủ
                    </a>
                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Giới thiệu
                        </a>
                        <span class="menu-ic-mb">
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Khoá học
                        </a>
                        <span class="menu-ic-mb">
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Tin tức
                        </a>
                        <span class="menu-ic-mb">
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Đội ngũ
                        </a>
                        <span class="menu-ic-mb">
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="menu-item">
                    <a href="" class="menu-link">
                        Liên hệ
                    </a>
                </li>


            </ul>

            <ul class="social-mb-list">
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-search"></div>
    <main class="main pt2">
        <div class="box-plane">
            <div class="box-plane-item">
                <div class="box-plane-img">
                    <img src="./assets/images/mb1.png" alt="">
                </div>
            </div>

            <div class="box-plane-item">
                <div class="box-plane-img">
                    <img src="./assets/images/mb2.png" alt="">
                </div>
            </div>
        </div>
        <div class="breadcrumbs mb-40">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item">
                    <a href="" class="breadcrumbs-link">
                        Trang chủ
                    </a>
                </li>

                <li class="breadcrumbs-item">
                    <a href="" class="breadcrumbs-link">
                        Tin tức
                    </a>
                </li>

                <li class="breadcrumbs-item current">
                    <a href="" class="breadcrumbs-link">
                        Chi tiết bài viết
                    </a>
                </li>
            </ul>
        </div>

        <div class="detail-kh-content">
            <div class="container">
                <div class="detail-kh-content-wrap">
                    <div class="title-main mb-40">
                        Khoá học dành cho học viên độ tuổi từ 18-20
                    </div>
    
                    <div class="detail-kh-img mb-24">
                        <img src="./assets/images/imgKhdt.png" alt="">
                    </div>
    
                    <div class="detail-kh-des mb-40">
                        <div class="detail-kh-des-item">
                            <div class="detail-kh-des-ic">
                                <img src="./assets/images/calendar.svg" alt="">
                            </div>
                            <div class="detail-kh-des-text">
                                17/07/2023
                            </div>
    
                        </div>
    
                        <div class="detail-kh-des-item">
                            <div class="detail-kh-des-ic">
                                <img src="./assets/images/user 1.svg" alt="">
                            </div>
                            <div class="detail-kh-des-text">
                                thach.dang
                            </div>
    
                        </div>
                    </div>
    
                    <div class="detail-kh-title mb-18">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus ultrices velit eleifend consectetur
                        justo, semper dictum. Ut morbi amet, quis aliquet elementum mattis ut. Ut pellentesque
                    </div>
    
                    <div class="detail-kh-wrap d-wrap mb-40">
                        <div class="detail-kh-text d-item d-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus ultrices velit eleifend
                            consectetur justo, semper dictum. Ut morbi amet, quis aliquet elementum mattis ut. Ut
                            pellentesque massa sed ullamcorper quis maecenas ut sapien. Sed varius laoreet mi, at. Eu
                            egestas pharetra nulla tincidunt euismod. Pretium tristique nulla tortor nunc felis. Purus
                            pharetra ligula eget elementum ipsum, commodo. Tellus viverra egestas fames mi, massa diam, eu
                            sed sapien. Adipiscing mattis viverra posuere suscipit dui felis, elit lorem ipsum.
                        </div>
    
                        <div class="detail-kh-text d-item d-2">
                            Lorem ipsum dolor sit amet consectetur. Lectus dignissim ac iaculis aliquet amet. Gravida id
                            nulla non porttitor et. Nec dolor eget euismod lacinia sodales facilisis sed. Sapien velit ac eu
                            consequat. Sapien velit magna et ut. Pretium dignissim habitant felis eros cursus praesent
                            adipiscing. Sed vel turpis tortor tortor nisi. Erat aliquam amet mauris amet.
                        </div>
                    </div>
    
                    <div class="detail-kh-img-list d-wrap mb-58">
                        <div class="detail-kh-img-item d-3 d-item">
                            <div class="detail-kh-img-image">
                                <img src="./assets/images/kh1.png" alt="">
                            </div>
                        </div>
                        <div class="detail-kh-img-item d-3 d-item">
                            <div class="detail-kh-img-image">
                                <img src="./assets/images/kh1.png" alt="">
                            </div>
                        </div>
                        <div class="detail-kh-img-item d-3 d-item">
                            <div class="detail-kh-img-image">
                                <img src="./assets/images/kh1.png" alt="">
                            </div>
                        </div>
                    </div>
    
    
                    <ul class="detail-kh-ds-list ">
                        <li class="detail-kh-ds-item ">
                            Chìa Khóa Trao Tay là bước đi thông minh
                        </li>
    
                        <li class="detail-kh-ds-item ">
                            Chìa Khóa Trao Tay là bước đi thông minh và nhanh nhất để phát triển 
                        </li>
    
                        <li class="detail-kh-ds-item">
                            Dựa vào những kết quả sản xuất kinh doanh xuất sắc 
                        </li>
    
                        <li class="detail-kh-ds-item">
                            Dựa vào những kết quả sản xuất kinh doanh xuất sắc đã đạt được
                        </li>
                    </ul>
                </div>
                
            </div>


        </div>

        <div class="detail-kh-social mt-40">
             <div class="container">
                <div class="detail-kh-social-wrap">
                    <div class="detail-kh-social-title">
                        Chia sẻ bài viết
                    </div>

                    <ul class="detail-kh-social-list">
                        <li class="detail-kh-social-item">
                            <a href="" class="detail-kh-social-link">
                                <img src="./assets/images/fb2.svg" alt="">
                            </a>
                        </li>
                        <li class="detail-kh-social-item">
                            <a href="" class="detail-kh-social-link">
                                <img src="./assets/images/fb2.svg" alt="">
                            </a>
                        </li>
                        <li class="detail-kh-social-item">
                            <a href="" class="detail-kh-social-link">
                                <img src="./assets/images/fb2.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
             </div>
        </div>

        <div class="kh-wrap-sl mt-80 mb-60">
            <div class="container">
                <div class="title-note mb-4">
                    các khoá học khác
                </div>
                <div class="title-main mb-40">
                    Có thể bạn quan tâm 
                </div>

                <div class="kh-wrap-sl-list d-wrap ">
                    <div class="kh-wrap-sl-item">
                        
                    </div>
                </div>
            </div>
        </div>  

    </main>
    <footer class="footer">
        <div class="container">
            <a href="" class="footer-logo">
                <span class="footer-logo-img">
                    <img src="./assets/images/logoFT.png" alt="">
                </span>

            </a>


            <div class="footer-wrapper d-wrap">
                <div class="footer-lf d-item ">
                    <div class="footer-title pb-36">
                        Thông tin liên hệ
                    </div>
                    <ul class="list-address">
                        <li class="item-address">
                            <span class="ic-address">
                                <img src="./assets/images/location.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                531 Nguyễn Oanh, P.17, quận Gò Vấp, Thành phố Hồ Chí Minh
                            </a>
                        </li>

                        <li class="item-address">
                            <span class="ic-address">
                                <img src="./assets/images/location.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                0888 111 818
                            </a>
                        </li>

                        <li class="item-address">
                            <span class="ic-address">
                                <img src="./assets/images/location.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                kentlifecoaching@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-ct d-item ">

                    <div class="footer-des">
                        Lorem ipsum dolor sit amet consectetur. Etiam venenatis a at sed adipiscing. Est arcu molestie
                        commodo dignissim pellentesque viverra tempus elit quis. Velit justo nibh.
                    </div>

                    <div class="footer-ip">
                        <input type="text" placeholder="Nhập email để nhận tin">

                        <a href="" class="footer-ip-ic">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <ul class="social-list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/facebook.svg" alt="">
                            </a>
                        </li>

                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/facebook.svg" alt="">
                            </a>
                        </li>

                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/facebook.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-rt d-item">
                    <div class="footer-title pb-36">
                        Thông tin liên hệ
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Trang chủ
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Giới thiệu
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Khoá học
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Tuyển sinh
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Tin tức
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Liên hệ
                            </a>
                        </li>
                    </ul>

                    <div class="fb-page">
                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flam.q.tien&tabs=timeline&width=282&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"
                            width="282" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-line"></div>

        <div class="footer-mona">
            <img src="./assets/images/monaTxt.png" alt="">
        </div>
    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>