.about-edu {
    &-lf {
        width: calc(5 * 100% / 12);

        &-text {
            color: var(--content, #474849);
           @include fz-16;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.08px;
        }
    }
}
