.contact-des {
    &-list {
        max-width: 97rem;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &-item {
        width: fit-content;
        display: flex;
        align-items: start;
        column-gap: 1.4rem;
    }

    &-ic {
        width: 4.4rem;
        height: 4.4rem;
        background-color: $color-third;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-title {
        color: var(--text, #2d2f39);
       @include fz-20;
      
        font-style: normal;
        font-weight: 700;
        line-height: 1.6; /* 32px */
        letter-spacing: 0.1px;
    }

    &-link {
        color: #2d2f39;
        @include fz-18;

        font-style: normal;
        font-weight: 300;
        line-height: 1.4; /* 25.2px */
        letter-spacing: 0.09px;

        @include hover {
            color: $color-third;
        }
    }
}
