.contact-des {
    &-list {
        max-width: 97rem;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &-item {
        width: fit-content;
        display: flex;
    }
}
