.contact-des {
    &-list {
        max-width: 97rem;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &-item {
        width: fit-content;
        display: flex;
        align-items: start;
        column-gap: 1.4rem;
    }

    &-ic{
        width: 4.4rem;
        height: 4.4rem;
        background-color: $color-third;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
