.box-plane{

    &-item{
       max-width: 22rem; 

        &:first-child{
            position: absolute;
            top: 5%;
            left: 55;
        }
    }

    &-img{
        padding-top: calc(100% * 91 / 227);
        width: 100%;
        position: relative;
        overflow: hidden;


        img{
            @include imgContain
        }
    }
}