.box-plane {
    &-item {
        max-width: 22rem;
        width: 100%;
        &:first-child {
            position: absolute;
            top: 20%;
            left: 20%;

            animation: mayBay1 1s linear infinite;

            @keyframes mayBay1 {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(5%);
                }

                100% {
                   
                    transform:translateY(0);
                }
            }
        }

        &:last-child {
            position: absolute;
            top: 25%;
            right: 20%;
        }
    }

    &-img {
        padding-top: calc(100% * 91 / 227);
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            @include imgContain;
        }
    }
}
