.box-plane {
    .container{
        position: relative;
    }

    &-item {
        max-width: 22rem;
        width: 100%;

        @media screen and (max-width: 1200px) {
            display: none;
        }
        &:first-child {
            position: absolute;
            top: 12%;
            left: 0;

            // @media screen and (max-width: 1500px) {
            //     left: 15rem;
            // }

            // @media screen and (max-width: 1300px) {
            //     left: 10rem;
            // }

            animation: mayBay1 3s linear infinite;

            @keyframes mayBay1 {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(5%);
                }

                100% {
                    transform: translateY(0);
                }
            }
        }

        &:last-child {
            position: absolute;
            top: 18%;
            right: 0;

            // @media screen and (max-width: 1500px) {
            //     right: 15rem;
            // }

            // @media screen and (max-width: 1300px) {
            //     right: 10rem;
            // }

            animation: mayBay 3s linear infinite;

            @keyframes mayBay {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-5%);
                }

                100% {
                    transform: translateY(0);
                }
            }
        }
    }

    &-img {
        padding-top: calc(100% * 91 / 227);
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            @include imgContain;
        }
    }
}

.detail-kh {

    &-wrap {
        @media screen and (max-width:800px) {
            flex-direction: column;
            row-gap: 0.5rem;
        }
    }

    &-social {
        &-wrap {
            width: fit-content;
            margin: auto;
            display: flex;
            align-items: center;
            column-gap: 2.4rem;
            flex-wrap: wrap;
            justify-content:center;
            row-gap: 1rem;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: 2rem;
        }

        &-link {
            width: 4.6rem;
            height: 4.6rem;
            flex-shrink: 0;
            display: block;

            @media screen and (max-width:600px) {
                width: 3.8rem;
                height: 3.8rem;
            }

            @include hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: all 0.3s linear;
            }
        }
    }

    &-content {
        &-wrap {
            padding-bottom: 4rem;
            border-bottom: 0.1rem solid #d1d8dc;
        }
    }

    &-title {
        color: $color-text3;
        @include fz-20;

        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    &-text {
        color: $color-text4;
        @include fz-16;
        font-style: normal;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.24px;

        @media screen and (max-width:800px) {
            width: 100%;
        }
    }

    

    &-des {
        &.while {
            .detail-kh-des-ic {
                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(269deg)
                        brightness(104%) contrast(103%);
                }
            }

            .detail-kh-des-text {
                color: $color-second;
            }
        }

        display: flex;
        align-items: center;
        column-gap: 6.4rem;

        @media screen and (max-width:800px) {
            column-gap: 3.2rem;
        }

        &-item {
            display: flex;
            // align-items: center;
            column-gap: 0.8rem;
        }
        &-ic {
            width: 2rem;
            height: 2rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            color: $color-text;
            @include fz-16;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    &-img {
        &-list {
            row-gap: 1.2rem;
            overflow: hidden;

        }

        &-item {
            width: 33.33%;
            @media screen and (max-width:600px) {
                width: 50%;

                &:last-child{
                    width: 100%;
                }
            }
        }

        &-image {
            padding-top: calc(100% * 317 / 384);
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 1.6rem;

            @media screen and (max-width:460px){
                padding-top: 100%;
         }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }

    &-ds {
        &-list {
            display: flex;
            justify-content: space-between;
            row-gap: 1.5rem;
            width: 100%;
            flex-wrap: wrap;

            
        }

        &-item {
            width: 45%;
            height: 100%;
            position: relative;
            padding-left: 3rem;
            color: $color-text3;
            @include fz-16;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.08px;
            &::before {
                content: "";
                top: 0%;
                left: 0;
                transform: translateY(0%);
                width: 2rem;
                height: 2rem;
                background-image: url(../assets/images/check.svg);
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            @media screen and (max-width:460px) {
                width: 100%;
            }
        }
    }

    &-said {
        max-width: 88.8rem !important;
        border-radius: 1.6rem;
        background: #fff6f7;
        padding: 2.6rem 4.8rem;
        margin: 0 auto 4rem;
        position: relative;
        &-ic {
            width: 10rem;
            height: 10rem;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width:1200px) {
                position: relative;
                top: unset;
                left: unset;
                transform: none;
                margin: auto;
                width: 6rem;
                height: 6rem;
            }

            @media screen and (max-width:600px) {
                position: relative;
                top: unset;
                left: unset;
                transform: none;
                margin: auto;
                width: 4rem;
                height: 4rem;
            }
        }

        &-text {
            color: $color-text3;
            @include fz-20;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.3px;
        }

        @media screen and (max-width:800px) {
            padding: 2rem;
            margin-bottom: 2rem;
        }
        
    }
}

.kh-wrap-sl {
    &-list {
        position: relative;
    }

    &.page{
        @media screen and (max-width:680px){
            .swiper-slide{
                width: 50%;
            }
        }

        @media screen and (max-width:460px) {
            .swiper-slide{
                width: 100%;
            }
        }
    }

    @media screen and (max-width:460px) {
        .swiper-slide{
            width: 100%;
        }
    }

    &-item {
        position: relative;

        @include hover {
            .kh-wrap-sl-img {
                img {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }

    &-note {
        color: $color-text4;
        text-align: center;
        @include fz-16;
        font-style: normal;
        font-weight: 300;
        line-height: 1.4; /* 22.4px */
        letter-spacing: 0.24px;
        max-width: 79.2rem;
        margin: 0 auto 4rem;
    }

    &-title {
        color: $color-text;
        text-align: center;
        @include fz-16;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4; /* 22.4px */
        letter-spacing: 0.08px;
        // min-height: 3.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        @include hover{
            color: $color-third;
        }
    }

    &-text {
        color: #000;
        text-align: center;
        @include fz-14;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5; /* 21px */
        letter-spacing: 0.07px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        // @media screen and (max-width:600px) {
        //     display: none;
        // }
    }

    &-img {
        padding-top: calc(100% * 520 / 384);
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 1.2rem;
        display: block;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s linear;
        }
    }

    

    &-content {
        position: absolute;
        bottom: 5%;
        left: 50%;
        width: 90%;
        padding: 2rem 2.4rem;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border-radius: 1.2rem;
        border: 0.1rem solid #fff;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(1rem);

        @media screen and (max-width: 1200px) {
            padding: 1.2rem;
            row-gap: 1.2rem;
        }

        @media screen and (max-width: 1024px) {
            padding: 1.2rem 0.6rem;
            row-gap: 0.6rem;
        }
    }
}

.banner-main {
    width: 100%;
    position: relative;
    // min-height: calc(100vw * 400 / 1728);
    min-height: 40rem;

    // @media screen and (max-width: 1200px) {
    //     min-height: 100vw;
    // }

    @media screen and (max-width: 600px) {
        margin-bottom: 5rem !important;
    }

    @media screen and (max-width: 460px) {
        min-height: 30rem;
        .banner-main-title {
            font-size: 2rem;
        }
    }

    &-search {
        max-width: 65rem;
        margin: auto;
        width: 100%;
        border-radius: 4.2rem;
        background: $color-second;
        position: relative;
        input {
            width: 100%;
            padding: 1.5rem 6rem 1.5rem 3rem;

            &::placeholder {
                color: $color-text4;
                @include fz-16;
                font-style: normal;
                font-weight: 300;
                line-height: 1.5; /* 150% */
            }
        }
    }

    &-btn {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-third;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        transition: all 0.3s linear;
        @include hover {
            background-color: $color-pri;
        }

        i {
            font-size: 1.6rem;
            color: $color-second;
            font-weight: 700;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background: linear-gradient(180deg, rgba(9, 0, 65, 0) 5.12%, rgba(15, 22, 47, 0.65) 75.38%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-title {
        color: #fff;
        @include fz-58;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.29px;
        margin-bottom: 2.4rem;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            margin-bottom: 1.2rem;
        }
    }

    &-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.kh-wait {
    .swiper-pagination {
        margin-top: 1rem;

        @media screen and (max-width:600px) {
            margin-top: 2rem;
                
            }
    }

    .btn {
        margin: 4rem auto 0;
    }

    &-tabs {
        max-width: 100rem;
        margin: 0 auto 6rem;

        @media screen and (max-width:1200px) {
        margin: 0 auto 3rem;
            
        }

        @media screen and (max-width:600px) {
            margin: 0 auto 2rem;
                
            }
    }

    &-tab {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.2rem 3rem;
        white-space: nowrap;
        border-radius: 10rem;
        background: rgba(29, 41, 86, 0.07);
        color: $color-text;
        // font-family: SF Pro Display;
        @include fz-16;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: transparent;
        transition: all 0.3s linear;

        &.actived {
            background-color: $color-pri;
            color: $color-second;
        }

        @include hover {
            background-color: $color-pri;
            color: $color-second;
        }
    }

    &-list {
    }
    &-header {
        background-color: $color-third;
        display: flex;
        border-radius: 2rem 2rem 0 0;

        @media screen and (max-width: 600px) {
            display: none;
        }

        &-item {
            color: $color-second;
            padding: 2rem 0rem 2rem 4rem;
            text-align: center;
            @include fz-18;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4; /* 25.2px */
            letter-spacing: 0.27px;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                border-right: 0.1rem solid $color-second;
            }

            // &:not(:first-child){
            //   padding-left: 4rem;
            // }

            &:first-child {
                width: 50%;
                flex-shrink: 0;
                text-align: start;

                @media screen and (max-width: 768px) {
                    padding: 2rem;
                }
            }

            &:nth-child(2) {
                width: 30%;
                flex-shrink: 0;

                @media screen and (max-width: 900px) {
                    padding: 2rem;
                    width: 25%;
                }

                @media screen and (max-width: 768px) {
                    padding: 1rem;
                }
            }

            &:last-child {
                flex: 1;
                width: 100%;
                flex-shrink: 0;

                @media screen and (max-width: 1024px) {
                    padding: 2rem;
                    justify-content: center;
                }

                @media screen and (max-width: 768px) {
                    padding: 1rem;
                    justify-content: center;
                }
            }
        }
    }

    &-item {
        display: none;

        &.actived {
            display: block;
        }
        animation: anHien 1s linear;

        @keyframes anHien {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }
    }

    &-content {
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        .btn {
            margin: 0;
        }
        &-item {
            display: flex;
            align-items: center;

            @media screen and (max-width: 600px) {
                padding: 2rem 1rem;
                flex-direction: column;
                row-gap: 2rem;
                border-radius: 1.6rem;
            }

            @media screen and (max-width: 360px) {
                row-gap: 1rem;
            }

            &:nth-child(odd) {
                background-color: white;

                @media screen and (max-width: 600px) {
                    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
                }
            }

            &:nth-child(even) {
                background: rgba(190, 30, 45, 0.1);

                @media screen and (max-width: 600px) {
                    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
                }
            }
        }

        &-title {
            width: 50%;
            flex-shrink: 0;
            text-align: start;
            padding: 2.3rem 0rem 2.3rem 4rem;
            color: $color-text;

            @include fz-18;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0.27px;
            @media screen and (max-width: 768px) {
                padding: 2rem;
            }

            &::before {
                content: attr(data-label);
                display: none;
                color: $color-text;
                text-align: center;
                @include fz-18;
                font-style: normal;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: 0.27px;
            }

            @media screen and (max-width: 600px) {
                display: flex;
                width: 100%;
                justify-content: space-between;

                text-align: end;
                column-gap: 5rem;
                padding: 0;
                &::before {
                    flex-shrink: 0;
                    display: block;
                    text-align: start;
                }
            }

            @media screen and (max-width: 360px) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 0.5rem;
            }
        }

        &-date {
            width: 30%;
            flex-shrink: 0;
            padding: 2.3rem 0rem 2.3rem 4rem;
            color: $color-text;

            @include fz-18;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0.27px;
            &::before {
                content: attr(data-label);
                display: none;
                color: $color-text;
                text-align: center;
                @include fz-18;
                font-style: normal;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: 0.27px;
            }
            @media screen and (max-width: 900px) {
                width: 25%;
                padding: 2rem;
            }

            @media screen and (max-width: 768px) {
                padding: 1rem;
                text-align: center;
            }

            @media screen and (max-width: 600px) {
                display: flex;
                width: 100%;
                justify-content: space-between;

                text-align: end;
                column-gap: 2rem;
                padding: 0;
                &::before {
                    flex-shrink: 0;
                    display: block;
                    text-align: start;
                }
            }

            @media screen and (max-width: 360px) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 0.5rem;
            }
        }

        &-btn {
            width: 100%;
            flex: 1;
            flex-shrink: 0;
            display: flex;
            justify-content: center;

            .btn {
                background-color: $color-pri;

                @include hover {
                    background-color: $color-third;
                }
            }

            &::before {
                content: attr(data-label);
                display: none;
                color: $color-text;
                text-align: center;
                @include fz-18;
                font-style: normal;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: 0.27px;
            }

            @media screen and (max-width: 600px) {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                text-align: end;
                column-gap: 2rem;
                padding: 0;
                &::before {
                    flex-shrink: 0;
                    display: block;
                    text-align: start;
                }
            }

            @media screen and (max-width: 360px) {
                flex-direction: column;
                row-gap: 0.5rem;
                align-items: center;
            }
        }
    }
}

.box-qc {
    padding-top: 10rem;
    padding-bottom: 5vw;

    @media screen and (max-width:1200px) {
        padding-top: 15vw;
    }

    @media screen and (max-width:1200px) {
        padding-top: 15vw;
    }
    &-wrap {
        position: relative;
        display: flex;
        height: 100%;
        max-width: 112.2rem;
        flex-wrap: nowrap;
        align-items: center;
        // width: 60vw;
        background-color: $color-third;
        padding: 0rem 8rem;
        // margin: 8vw auto 0;
        border-radius: 1vw;

        @media screen and (max-width: 1024px) {
            // margin: 20vw auto 0;
            padding: 0rem 4rem;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            border-radius: 1rem;
        }

        @media screen and (max-width: 600px) {
            margin: 30vw auto 0;
        }
    }

    &-lf {
        width: 70%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &-content {
            padding: 3.6rem 0;

            @media screen and (max-width: 768px) {
                padding: 1rem 0 2rem;
            }
        }

        &-title {
            color: $color-second;
            @include fz-24;
            // font-size: 1.4vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.92px;
            text-transform: uppercase;
            margin-bottom: 1vw;

            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        &-text {
            color: $color-org;
            @include fz-32;
            // font-size: 1.6vw;

            font-style: normal;
            font-weight: 700;
            line-height: 1.4; /* 44.8px */
            letter-spacing: 0.32px;

            @media screen and (max-width: 768px) {
                text-align: center;
                font-size: 1.6rem;
            }
        }
    }

    &-rt {
        width: 100%;
        flex: 1;

        &-wrap {
            width: 100%;
            height: 100%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 29.3rem;
                height: 29.3rem;
                border-radius: 50%;
                background: rgba(190, 30, 45, 0.15);
                top: 0;
                left: 40%;
                transform: translateX(-50%);

                @media screen and (max-width: 768px) {
                    left: 50%;
                }

                @media screen and (max-width: 500px) {
                    width: 25rem;
                    height: 25rem;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                background: $color-third;
                top: 12%;
                left: 40%;
                transform: translateX(-50%);
                @media screen and (max-width: 768px) {
                    left: 50%;
                }

                @media screen and (max-width: 500px) {
                    width: 18rem;
                    height: 18rem;
                }
            }

            @media screen and (max-width: 768px) {
                max-width: 30rem;
                margin: auto;
            }

            @media screen and (max-width: 500px) {
                max-width: 25rem;
                margin: auto;
            }
        }

        &-img {
            width: 25rem;
            position: relative;
            z-index: 5;
            // width: 100%;
            margin-top: -10rem;
            pointer-events: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: 768px) {
                margin: -10rem auto 0;
            }

            @media screen and (max-width: 500px) {
                max-width: 20rem;
            }
        }

        &-btn {
            padding: 1.1rem 1.6rem;
            background-color: $color-pri;
            border-radius: 0.3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16rem;
            position: absolute;
            z-index: 1;

            @media screen and (max-width: 500px) {
                width: 12rem;
            }

            @include hover {
                background-color: $color-org;
            }
            @keyframes laclu1 {
                0% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(-3deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }

            @keyframes laclu2 {
                0% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(3deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }

            &-text {
                color: #fff;

                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &:first-child {
                position: absolute;
                top: 38%;
                left: -32%;
                transform: rotate(-5deg);
                z-index: 1;
                box-shadow: -0.3rem -0.3rem 0rem $color-second;

                animation: laclu1 3s linear infinite;

                @media screen and (max-width: 768px) {
                    left: -27%;
                    top: 45%;
                }

                @media screen and (max-width: 500px) {
                    left: -28%;
                    top: 55%;
                }
            }

            &:last-child {
                position: absolute;
                top: 80%;
                right: -12%;
                transform: rotate(5deg);
                z-index: 1;
                box-shadow: 0.3rem -0.3rem 0rem $color-second;

                animation: laclu2 3s linear infinite;

                @media screen and (max-width: 768px) {
                    right: -5%;
                    top: 77%;
                }

                @media screen and (max-width: 500px) {
                    right: 0%;
                    top: 80%;
                }
            }
        }

        &-list {
        }

        &-item {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
            }
            &:first-child {
                top: 15%;
                left: -15%;
                animation: truotXuong 2s linear infinite;

                width: 8.3rem;
                height: 8.3rem;
                
              

                @media screen and (max-width: 700px) {
                    width: 5.3rem;
                    height: 5.3rem;
                }

                @media screen and (max-width:430px) {
                    left: -25%;
                }

                @media screen and (max-width:380px) {
                    left: -20%;
                }
            }

            &:nth-child(2) {
                top: 5%;
                left: 80%;

                animation: truotXuong 2s linear infinite;

                width: 6.8rem;
                height: 6.8rem;

                @media screen and (max-width: 700px) {
                    width: 4.8rem;
                    height: 4.8rem;
                }

                @media screen and (max-width: 500px) {
                   top: -5%;
                }

                @media screen and (max-width: 430px) {
                    top: 0;
                    left: 60%;
                }
            }

            &:nth-child(3) {
                top: 80%;
                left: -10%;

                animation: truotXuong 2s linear infinite;

                width: 5.3rem;
                height: 5.3rem;

                @media screen and (max-width: 700px) {
                    width: 4.3rem;
                    height: 4.3rem;
                }
            }

            &:last-child {
                top: 90%;
                left: 80%;

                animation: truotXuong 2s linear infinite;

                width: 5.3rem;
                height: 5.3rem;

                @media screen and (max-width: 700px) {
                    width: 4.3rem;
                    height: 4.3rem;
                }

                @media screen and (max-width: 600px) {
                    top: 95%;
                }

                @media screen and (max-width: 460px) {
                    top: 95%;
                    left: 70%;
                }

                @media screen and (max-width: 430px) {
                    top: 95%;
                    left: 50%;
                }
            }
        }
    }

    .box-plane-item {
        @media screen and (max-width: 1260px) {
            display: none;
        }
        &:first-child {
            top: 80%;
            left: -10%;

            @media screen and (max-width: 1400px) {
                left: -5%;
                top: 90%;
            }
        }

        &:last-child {
            top: 0%;
            right: -10%;

            @media screen and (max-width: 1400px) {
                right: -5%;
            }
        }
    }
}
