.our-team{
    &-item{
        display: flex;
        padding-bottom: 10rem;
        border-bottom: 0.2rem solid rgba($color: $color-pri, $alpha: 0.1);
        position: relative;


        &::before{
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: rgba($color: $color-pri, $alpha: 0.1);
            border-radius:50%;
        }
        
    }
}