.post-sl {
    &-list {
    }

    &-item {
        border-radius: 0.8rem;
        overflow: hidden;

        &-image {
            position: relative;
            margin-bottom: 2.4rem;
        }

        &-time {
            border-radius: 0.8rem;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            row-gap: 0.5rem;
            flex-direction: column;
            background-color: $color-third;
            width: fit-content;
            position: absolute;
            bottom: -3rem;
            right: 3rem;
        }

        &-title {
            color:$color-black'
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
            letter-spacing: 0.1px;
        }

        &-date {
            color: $color-second;
            @include fz-20;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
        }

        &-mon {
            color: $color-second;
            @include fz-14;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
        }

        &-img {
            padding-top: calc(100% * 284 / 384);
            width: 100%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }
}
