.post-sl{
    &-list{


    }

    &-item{
        border-radius: 0.8rem;
        overflow: hidden;

        &-image{
            position: relative;
        }

        &-img{
            padding-top: calc(100% * 284 / 384);
            width: 100%;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }
}