:root {
    
    --size-hd: 10rem;
}

// dit me m nho chua
$color-pri: #1D2956;
$color-second: #FFFFFF ;
$color-third: #BE1E2D;
$color-text: #191A1C;


$color-black-3: #000000;
$color-black: #000000;
$color-org : #FF9F00;
$color-green:#00D9B9;





//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 460px;

