.btn {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
   
    background-color: $color-third;
    width: fit-content;
    border-radius: 6rem;
    transition: all 0.3s linear;
    @include hover{
        background-color:$color-pri;

    }


    &-text{
        color: $color-second;
        @include fz-15;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.075px;
    }

    &-ic{
        flex-shrink: 0;

        i{
            font-size: 1.6rem;
            color: $color-second;
        }
    }
}


.navi-box{
    .btn-navi{
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
       

        i{
            color: $color-pri;
            font-size: 1.4rem;
        }
    }
}