.btn {
    padding: 1.2rem 2rem 1.2rem 2.4rem;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    background-color: $color-third;
    width: fit-content;
    border-radius: 6rem;
    transition: all 0.3s linear;

    @include hover {
        background-color: $color-pri;
    }

    @media screen and (max-width: 1200px) {
        padding: 1.2rem;
    }

    @media screen and (max-width: 600px) {
        padding: 1rem;
        padding-left: 1.2rem;
    }

    &-text {
        color: $color-second;
        @include fz-15;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.075px;
        white-space: nowrap;

        @media screen and (max-width: 1200px) {
            @include fz-12;
        }
    }

    &-ic {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 1.6rem;
            // margin-top: 0.5rem;
            color: $color-second;
        }

        img {
            // margin-top: 0.5rem;
            width: 2rem;
            height: 2rem;
        }

        @media screen and (max-width: 1200px) {
            i {
                font-size: 1.4rem;
                margin-top: 0.1rem;
            }

            img {
                margin-top: 0rem;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}

.box-navi {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 1rem;
    margin: 2rem auto 0;

    .btn-navi {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        @include hover {
            background-color: $color-pri;

            i {
                color: $color-second;
            }
        }

        &.prev {
            position: absolute;
            top: 50%;
            left: -2rem;
            transform: translate(-50%, -50%);

            // @media screen and (max-width:1310px) {
            //     position: relative;
            //     transform: unset;
            //     top: 0;
            //     left: 0;
            // }
        }

        &.next {
            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translate(50%, -50%);

            // @media screen and (max-width:1310px) {
            //     position: relative;
            //     transform: unset;
            //     top: 0;
            //     right: 0;
            // }
        }

        i {
            color: $color-pri;
            transition: all 0.3s linear;
            font-size: 1.6rem;
            font-weight: 300;
        }


    }


}

.box-arrow {
    width: 9rem;
    height: 9rem;
    background-color: $color-second;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .btn-arrow {
        width: 6.6rem;
        height: 6.6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-pri;
        transition: all 0.3s linear;
        cursor: pointer;
        animation: truotXuong 1.5s linear infinite;

        @keyframes truotXuong {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(5%);
            }

            100% {
                transform: translateY(0);
            }
        }

        img {
            width: 3rem;
            height: 3rem;

            @media screen and (max-width:1200px) {
                width: 2rem;
                height: 2rem;
            }
        }

        @include hover {
            background-color: $color-third;
        }

        @media screen and (max-width:1200px) {
            width: 4.6rem;
            height: 4.6rem;
        }
    }

    @media screen and (max-width:1200px) {
        width: 6rem;
        height: 6rem;
    }
}


.btn-to-top {
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color-third;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 800;
    transition: all 0.3s linear;

    img {
        width: 3rem;
        height: 3rem;
    }

    @include hover {
        transform: translateY(-5%);
    }

    @media screen and (max-width:600px) {
        right: 1rem;
        width: 3.8rem;
        height: 3.8rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.box-navi2 {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 1rem;
    margin: 1rem auto 0;
    height: 100%;
    .btn-navi2 {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: all 0.3s linear;
        background-color: $color-second;
        z-index: 5;
        cursor: pointer;

        @include hover {
            background-color: $color-pri;

            i {
                color: $color-second;
            }
        }

        @media screen and (max-width:1200px) {
            background-color: $color-pri;

            i {
                color: $color-second !important;
            }
        }

        @media screen and (max-width:600px) {
            width: 3.2rem;
            height: 3.2rem;
        }

        &.prev {
            position: absolute;
            top: 50%;
            left: 28.5%;
            transform: translate(-50%, -50%);

            @media screen and (max-width:1400px) {
            
                left: 26.5%;
            }

            @media screen and (max-width:1200px) {
            
                left: 24%;
            }

            @media screen and (max-width:900px) {
            
                left: 17%;
            }

            @media screen and (max-width:700px) {
            
                left: 13%;
            }

            @media screen and (max-width:600px) {
                top: 50%;
                left: 4%;
            }

            @media screen and (max-width:460px) {
                top: 50%;
                left: 5%;
            }

            @media screen and (max-width:400px) {
                top: 50%;
                left: 6%;
            }
        }

        &.next {
            position: absolute;
            top: 50%;
            right: 28.5%;
            transform: translate(50%, -50%);

            @media screen and (max-width:1400px) {
             
                right: 26.5%;
            }

            @media screen and (max-width:1200px) {
            
                right: 24%;
            }

            @media screen and (max-width:900px) {
            
                right: 17%;
            }

            @media screen and (max-width:700px) {
            
                right: 13%;
            }

            @media screen and (max-width:600px) {
                top: 50%;
                right: 4%;
            }

            @media screen and (max-width:460px) {
                top: 50%;
                right: 5%;
            }

            @media screen and (max-width:400px) {
                top: 50%;
                right: 6%;
            }
        }

        i {
            color: $color-text;
            transition: all 0.3s linear;
            font-size: 1.6rem;
            font-weight: 300;

            @media screen and (max-width:600px) {
                font-size: 1.2rem;
            }
        }


    }


}
